.DS_Store
docker-compose.override.yml
data/*
study/*
config/portal.properties
config/application.properties
!*.sh
.idea
.env.*
dev/keycloak/idp-metadata.xml
dev/keycloak/keycloak-config-generated.json