.DS_Store
docker-compose.override.yml
data/*
study/*
!study/msk_spectrum_tme_2022/
!study/msk_spectrum_tme_2022/meta_wsi.txt
!study/msk_spectrum_tme_2022/data_wsi.txt
config/portal.properties
config/application.properties
!*.sh
.idea
.env.*
dev/keycloak/idp-metadata.xml
dev/keycloak/keycloak-config-generated.json
!data/clickhouse_user_settings.xml
