version: '3'

services:
  cbioportal:
    depends_on:
      cbioportal-clickhouse-importer:
        condition: service_healthy
    environment:
      APP_CLICKHOUSE_MODE: true
      APP_SPRING_PROFILE: clickhouse
  cbioportal-clickhouse-database:
    restart: unless-stopped
    image: ${DOCKER_IMAGE_CLICKHOUSE}
    container_name: cbioportal-database-clickhouse-container
    environment:
      CLICKHOUSE_DB: ${DB_CLICKHOUSE_DB_NAME}
      CLICKHOUSE_USER: ${DB_CLICKHOUSE_USERNAME}
      CLICKHOUSE_PASSWORD: ${DB_CLICKHOUSE_PASSWORD}
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
    volumes:
      - cbioportal_clickhouse_data:/var/lib/clickhouse
    networks:
      - cbio-net
  cbioportal-clickhouse-importer:
    restart: unless-stopped
    image: ${DOCKER_IMAGE_CLICKHOUSE_IMPORTER}
    container_name: cbioportal-clickhouse-importer-container
    environment:
      MYSQL_DB: ${DB_MYSQL_DB_NAME}
      MYSQL_USER: ${DB_MYSQL_USERNAME}
      MYSQL_PASSWORD: ${DB_MYSQL_PASSWORD}
      MYSQL_HOST: cbioportal-database
      MYSQL_PORT: 3306
      MYSQL_SERVER_ADDITIONAL_ARGS: ?useSSL=false\&allowPublicKeyRetrieval=true
      CLICKHOUSE_DB: ${DB_CLICKHOUSE_DB_NAME}
      CLICKHOUSE_USER: ${DB_CLICKHOUSE_USERNAME}
      CLICKHOUSE_PASSWORD: ${DB_CLICKHOUSE_PASSWORD}
      CLICKHOUSE_HOST: cbioportal-clickhouse-database
      CLICKHOUSE_PORT: 9000
      CLICKHOUSE_SERVER_ADDITIONAL_ARGS:
      CLICKHOUSE_MAX_MEM: 1000000000
      CBIOPORTAL_CORE_BRANCH: ${CBIOPORTAL_CORE_BRANCH}
    volumes:
      - ./addon/clickhouse/init.sh:/workdir/init.sh
      - ./addon/clickhouse/sync-databases.sh:/workdir/sync-databases.sh
      - sql-files:/workdir/sql
    depends_on:
      cbioportal-clickhouse-database:
        condition: service_started
      cbioportal-database:
        condition: service_started
      cbioportal-clickhouse-schema-extractor:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "test", "-f", "/workdir/init-complete.txt"]
      interval: 10s
      timeout: 3s
      retries: 30
    command: [ "bash", "/workdir/init.sh" ]
    networks:
      - cbio-net
  cbioportal-clickhouse-schema-extractor:
    image: ${DOCKER_IMAGE_CBIOPORTAL}
    container_name: cbioportal-clickhouse-schema-extractor-container
    volumes:
      - sql-files:/sql
    command: sh -c "cp /cbioportal/db-scripts/clickhouse/*.sql /sql/ 2>/dev/null"

volumes:
  cbioportal_clickhouse_data:
  sql-files: