name: Update Clickhouse Importer Docker Image

on:
  push:
    paths:
      - 'addon/clickhouse/importer.Dockerfile'
      - '.github/workflows/clickhouse-importer-docker-image.yml'

jobs:
  update-clickhouse-importer-image:
    runs-on: ubuntu-latest
    if: github.repository == 'cbioportal/cbioportal-docker-compose'
    env:
      DOCKERHUB_REPO: 'cbioportal/clickhouse-importer'
      PLATFORMS: 'linux/amd64,linux/arm64'
      CBIOPORTAL_CORE_BRANCH: 'main'
      CBIOPORTAL_BRANCH: 'master'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Set up QEMU flags
        run: |
          # Avoid segmentation faults, check https://github.com/docker/buildx/issues/1170#issuecomment-1159350550
          docker run --rm --privileged multiarch/qemu-user-static --reset -p yes -c yes
      - name: Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ env.DOCKERHUB_REPO }}:latest,${{ env.DOCKERHUB_REPO }}:cbioportal-core-${{ env.CBIOPORTAL_CORE_BRANCH }}
          build-args: |
            CBIOPORTAL_CORE_BRANCH=${{ env.CBIOPORTAL_CORE_BRANCH }}
            CBIOPORTAL_BRANCH=${{ env.CBIOPORTAL_BRANCH }}
          platforms: ${{ env.PLATFORMS }}
          file: addon/clickhouse/importer.Dockerfile
          cache-from: type=gha
          cache-to: type=gha
